input{
    margin-left: 10px;
    width: 85%;
    height: 100px;
    font-size: 50px;
    border-radius: 10%;
}
body{
    background-color: lime;
}
#clear{
    width: 85%;
    color: white;
    background-color: teal;
    height: 70px;
    font-size: 50px;

}
#clear:hover{
    background-color: turquoise;
   
}
button{
    width: 20%;
    padding-left: 30px;
    margin-left: 10px; 
    margin-top: 15px;
    height: 60px;
    font-size: 40px;
    border-radius: 10%;
   
}
button:hover{
    background-color: burlywood;
}

.calculator{
    width: 30%;
    background-color: black;
    margin-left: 350px;
    margin-top: 70px;
    padding :15px;
    border-radius: 10%;
    height: 550px;
    text-align: center;
}